.about-us-link {
    background-color: #f4f2ef;
    padding: 15px 0;
    text-align: center;
    margin: 20px 0;
}
.about-us-link p {
    font-size: 13px;
    color: var(--black);
}
.about-us-link p a {
    color: var(--black);
    font-weight: 600;
    font-size: 13px;
}