
/* left side */
.banner-section .left-side .subscribe {
    text-align: left;
    position: relative;
}
.banner-section .left-side .subscribe .sub-body{
    background: #eef4ff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.05);
    margin: 0 0px 45px 0;
    padding: 12px 10px 20px 20px;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 74%, 89% 87%, 78% 100%, 15% 100%, 0 100%, 0% 85%);
}
.banner-section .left-side .subscribe .triangle-shape{
    width: 0;
    height: 0;
    border-top: 30px solid #9abcff;
    border-right: 30px solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}
.banner-section .left-side .subscribe p{
    font-size: 14px;
    color: var(--black);
    font-weight: 700;
}
.banner-section .left-side .subscribe a{
    text-decoration: underline;
    font-size: 12px;
    color: var(--text);
}
.banner-section .left-side .new-blogs-title{
    position: relative;
}
.banner-section .left-side .new-blogs-title span{
    font-size: 20px;
    color: var(--text);
}
.banner-section .left-side .new-blogs-title span i{
    font-size: 16px;
}
.banner-section .left-side ul{
    margin: 20px 0;
}
.banner-section .left-side ul li {
    margin-bottom: 20px;
}
.banner-section .left-side ul li a{
    color: var(--black);
    font-size: 15px;
    font-weight: 600;
    line-height: initial;
}
.banner-section .left-side ul li p{
    color: var(--red);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.banner-section .see-everything{
    color: var(--black);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 700;
}



/* center */
.banner-section .center{
    margin: 0 15px;
}
.banner-section .center .img{
    height: 450px;
    width: 100%;
}
.banner-section .center .text span {
    font-size: 15px;
    font-weight: 700;
    padding: 5px 0 10px 0;
    display: inline-block;
    color: var(--black);
}
.banner-section .center .text{
    margin-top: 25px;
}
.banner-section .center .text p{
    font-size: 15px;
    color: var(--black);
}
.banner-section .center .text .top-border p{
    font-size: 20px;
}
.banner-section .center .text ul li{
    margin: 15px 0;
}
.banner-section .center .text ul li a{
    font-size: 16px;
    color: var(--black);
    font-weight: 700;
}
/* right side */
.banner-section .right-side {
    margin-top: 10px;
}
.banner-section .right-side .daily-deals .price-notice {
    font-size: 13px;
    line-height: initial;
    margin: 15px 0;
}
.banner-section .right-side .daily-deals ul{

}
.banner-section .right-side .daily-deals ul li{
    margin-bottom: 20px;
}
.banner-section .right-side .daily-deals ul li .img {
    width: 100%;
    height: 110px;
}
.banner-section .right-side .daily-deals ul li a {
    text-decoration: underline;
    color: black;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 6px;
}
.banner-section .right-side .daily-deals ul li p{
    color: var(--green);
    font-size: 12px;
    line-height: initial;
}
.banner-section .right-side .daily-deals ul li p span{
    color: var(--gray);
    font-size: 12px;
}
.banner-section .right-side .daily-deals ul li p del{
    color: var(--gray);
    font-size: 12px;
}