footer {
    background-color: var(--black);
    padding: 50px 0;
}
footer .body-column{
    position: relative;
}
footer .body-column::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: var(--white);
}

/* logo */
footer .logo .img{
    width: 90%;
    height: 60px;
}



/* content */
footer .content{
    margin: 40px 0;
}
footer .content span{
    color: var(--white);
    font-size: 18px;
}
footer .content ul li a{
    color: var(--white);
}


/* social icon */
footer .social-icon a{
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    background-color: var(--white);
    text-align: center;
    margin-right: 10px;
}
footer .social-icon i{
    font-size: 18px;
}



/* copyright */
footer .copyright{
    margin-top: 40px;
}
footer .copyright ul{
    display: flex;
}
footer .copyright ul li {
    margin-right: 25px;
    position: relative;
}
footer .copyright ul li::after {
    content: '';
    position: absolute;
    right: -13px;
    top: 5px;
    height: 70%;
    width: 1px;
    background-color: var(--white);
}
footer .copyright ul li:last-child:after{
    opacity: 0;
}
footer .copyright ul li a{
    color: var(--white);    
    font-size: 12px;
}
footer .copyright p{
    color: var(--white);
    font-size: 12px;
}
footer .copyright .d-flex a{
    color: var(--white);
    font-size: 12px;
}


