
nav .navbar-nav .nav-item{
    padding: 5px;
    position: relative;
    margin-right: 10px;
}
nav .navbar-nav .nav-item .nav-link {
    display: inline-block;
    font-weight: bold;
    font-size: var(--size-15);
    color: var(--black);
    position: relative;
    padding: 0;
}
nav .navbar-nav .nav-item .nav-link::after{
    content: '';
    background-color: var(--blue);
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
}
nav .navbar-nav .nav-item.disabled .nav-link::after{
    display: none;
}
nav .navbar-nav .nav-item:hover{
    background-color: var(--blue);
}
nav .navbar-nav .nav-item.disabled:hover{
    background-color: transparent;
}
nav .navbar-nav .nav-item:hover .nav-link{
    color: var(--white);
}
nav .navbar-nav .nav-item .hover-menu {
    background-color: var(--blue);
    padding: 0 5px;
    position: absolute;
    left: 0;
    top: 34px;
    z-index: 1;
}
nav .navbar-nav .nav-item .hover-menu li a{
    color: var(--white);
    font-size: var(--size-13);
}
nav .navbar-nav .nav-item .hover-menu li a:hover{
    color: var(--black);
}
nav .navbar-nav .nav-item.disabled:hover .nav-link{
    background-color: transparent;
    color: var(--gray);
}