.navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    transition: 0.6s;
}

/* logo */
.navbar .logo {
    width: 25%;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: -15px !important;
}
.navbar .logo .img{
    width: 80%;
}
.navbar .search-box-form {
    position: relative;
    width: 50%;
    margin: 15px auto;
}
.authentication {
    width: 18%;
    justify-content: end;
    margin-top: -15px !important;
}
.navbar .navbar-items{
    width: 100%;
}






/* search box */
.navbar .search-box {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: right;
}
.navbar .search-box input {
    visibility: visible;
    background-color: #eef4ff;
    padding: 15px;
    display: inline-block;
    border: none;
    width: 100%;
}
.navbar .search-box input::placeholder{
    color: var(--red);
    font-size: 15px;
}
.navbar .search-box button {
    position: absolute;
    right: 3%;
    top: 55%;
    transform: translate(0%, -50%);
    border: none;
    background-color: transparent;
}
.navbar .search-box button i{
    font-size: 18px;
    color: var(--red);
}






/* AUTHENTICATION AREA */
.authentication .log-reg {
    text-align: right;
}
.authentication .log-reg span{
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
    transition: 0.4s;
}
.authentication .log-reg i {
    margin-right: 5px;
    font-size: 12px;
}
.authentication .log-reg a {
    transition: 0.4s;
    margin-top: 4px;
}
.authentication .log-reg a:hover span{
    color: #ccc !important;
}
.authentication .my-account button {
    background-color: transparent;
    color: var(--black);
    border: none;
    font-size: 14px;
    padding: 5px 8px;
    margin-right: 15px;
    border-radius: 4px;
    font-weight: 500;
}
.authentication .my-account button:hover{
    background-color: #efebe6;
    color: var(--black) !important;
}
.authentication .my-account button:focus{
    outline: none;
    box-shadow: none;
}
.authentication .dropdown-menu{
    padding: 0;
}
.authentication .dropdown-menu .dropdown-item {
    padding: 6px 12px;
    font-size: 13px;
    line-height: initial;
}
.authentication .dropdown-menu .dropdown-item:hover{
    color: var(--black) !important;
    background-color: #efebe6  !important;
}

/* AUTHENTICATION IN SCROLL NAVBAR */
.navbar .authentication-in-scroll-navbar{
    display: none !important;
}
.authentication-in-scroll-navbar .log-reg {
    text-align: right;
}
.authentication-in-scroll-navbar .log-reg span{
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
    transition: 0.4s;
}
.authentication-in-scroll-navbar .log-reg i {
    margin-right: 5px;
    font-size: 12px;
}
.authentication-in-scroll-navbar .log-reg a {
    transition: 0.4s;
    margin-top: 4px;
}
.authentication-in-scroll-navbar .log-reg a:hover span{
    color: #ccc !important;
}
.authentication-in-scroll-navbar .my-account button {
    background-color: transparent;
    color: var(--black);
    border: none;
    font-size: 14px;
    padding: 5px 8px;
    margin-right: 15px;
    border-radius: 4px;
    font-weight: 500;
}
.authentication-in-scroll-navbar .my-account button:hover{
    background-color: #efebe6;
    color: var(--black) !important;
}
.authentication-in-scroll-navbar .my-account button:focus{
    outline: none;
    box-shadow: none;
}
.authentication-in-scroll-navbar .dropdown-menu{
    padding: 0;
}
.authentication-in-scroll-navbar .dropdown-menu .dropdown-item {
    padding: 6px 12px;
    font-size: 13px;
    line-height: initial;
}
.authentication-in-scroll-navbar .dropdown-menu .dropdown-item:hover{
    color: var(--black) !important;
    background-color: #efebe6  !important;
}


/* NAVBAR ITEM CSS */
.navbar-nav .nav-item{
    padding: 5px;
    position: relative;
    margin-right: 10px;
}
.navbar-nav .nav-item .nav-link {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    color: var(--black);
    position: relative;
    padding: 0;
}
.navbar-nav .nav-item .nav-link::after{
    content: '';
    background-color: var(--red);
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.navbar-nav .nav-item.disabled .nav-link::after{
    display: none;
}
.navbar-nav .nav-item:hover{
    background-color: var(--red);
}
.navbar-nav .nav-item.disabled:hover{
    background-color: transparent;
}
.navbar-nav .nav-item:hover .nav-link{
    color: var(--white) !important;
}
.navbar-nav .nav-item .hover-menu {
    background-color: var(--red);
    padding: 0 5px;
    position: absolute;
    left: 0;
    top: 34px;
    z-index: 1;
}
.navbar-nav .nav-item .hover-menu li a{
    color: var(--white);
    font-size: 13px;
}
.navbar-nav .nav-item .hover-menu li a:hover{
    color: var(--black) !important;
}
.navbar-nav .nav-item.disabled:hover .nav-link{
    background-color: transparent;
    color: var(--gray) !important;
}


/*------------ NAVBAR ON SCROLL ------------*/
.scroll_navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: var(--white) !important;
    padding: 8px 0;
    transition: 0.6s;
}
.scroll_navbar .container-fluid {
    width: 85%;
    margin: 0 auto;
}
.scroll_navbar .logo {
    width: 14%;
    margin-top: -5px !important;
}
.navbar .logo .img {
    width: 85%;
}
.scroll_navbar .search-box-form{
    display: none;
    width: 0% !important;
}
.scroll_navbar .authentication{
    display: none !important;
    width: 0% !important;
}
.scroll_navbar .authentication-in-scroll-navbar {
    display: block !important;
    width: 14%;
    text-align: right;
}
.scroll_navbar .navbar-nav{
    margin: 0 auto !important;
}
.scroll_navbar .navbar-items{
    width: 70%;
}
.scroll_navbar .authentication-in-scroll-navbar .my-account button {
    margin-right: 0px !important;
}