.blog{
    margin-top: 35px;
}
.blog.title>h1 {
    font-size: 20px;
}
.blog .blog-items{
    border-bottom: 1px solid lightgray;
    padding: 30px 0;
}
.blog .blog-items:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}
.blog .blog-items a.img{
    width:100%;
    height: 210px;
}
.blog .blog-items .content h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0px 15px 0;
}
.blog .blog-items .content h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 15px 0;
}
.blog .blog-items .content h5 {
    font-size: 15px;
    font-weight: 700;
    margin: 0px 0px 0 0;
    text-transform: uppercase;
    color: var(--blue);
}
.blog .blog-items .content p {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0px 10px 0;
    color: var(--black);
}
.blog .blog-items .content span {
    font-size: 14px;
    font-weight: 500;
    margin: 0px 0px 0 0;
    color: var(--black);
}
.blog .blog-section-body {
    margin-bottom: 30px;
}